


body {
    background-image: url("d.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}
header {
    color: aliceblue;
}
nav a {
    /*all the a tags within a nav tag, it tells that it is a link*/
    color: aliceblue;
    text-decoration: none;
    padding-right: 1em;
}
nav a:hover {
    text-decoration: underline;
}

div.container {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
div.section-container {
    background-color: white;
    margin-top: 25px;
    padding: 2em;

}